<div class="meta__item-datetime meta__item">
	{{ partial "svg/eye.svg" (dict "class" "meta__icon") -}}
	<!-- <time class="meta__text" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
		{{- .Date.Format (.Site.Params.dateformat | default "January 02, 2006") -}}
	</time>
	{{- if ne .Date .Lastmod }}
	<time class="meta__text" datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">(
		{{- T "meta_lastmod" }}: {{ .Lastmod.Format (.Site.Params.dateformat | default "January 02, 2006") -}}
	)</time>
	{{- end -}} -->
	<span id="busuanzi_container_page_pv"><span id="busuanzi_value_page_pv">0</span>次</span>
</div>